<div class="auth-forms">

  <h2>Log In</h2>
  <p ng-if="message">Message: <strong>{{ message }}</strong></p>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>	

  <form ng-submit="loginUser()">
   <p class="form-group"><input type="email" ng-model="email" placeholder="Email" class="form-control"></p>
   <p class="form-group"> <input type="password" ng-model="password" placeholder="Password" class="form-control"></p>
    <p class="form-group"><input type="submit" value="Log in" class="btn btn-primary" /></p>
  </form>

</div>