    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">angularFirebase</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a href="#/posts">Posts</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->

 

    <div class="accRelated" ng-controller="AuthCtrl">
    <div ng-hide="authData">
      <h4>Please log in to submit a post.</h4>
    </div> 
    <div ng-show="authData">
      <h4>If you want to submit a post, go to the posts page.</h4>
    </div> 
           <div ng-show="authData">
            <p>Hello, {{ authData }}</p>
            <button ng-click="auth.$unauth()" class="btn btn-danger">Logout</button>
          </div>
          <div ng-hide="authData">
            <p>Welcome, please log in.</p>
            <a href="#/login">Login</a>
            <a href="#/register">Register</a>
          </div>
      </div>

    </div>

