<!-- the posts view -->

<div class="col-sm-8 col-sm-offset-2">
<!--     <h4>Create a new post</h4>
    <form ng-submit="submitPost(post)">
      <p class="form-group"><input type="text" class="form-control" ng-model="post.title" /></p>
      <p class="form-group"><input type="text" class="form-control" ng-model="post.url" /></p>
      <p class="form-group"><input type="submit" class="btn btn-succes" value="Add Post" /></p>
    </form> -->
 <div ng-controller="AuthCtrl" class="formNav">

<!-- if not logged in -->
 <div class="accRelated" ng-hide="">
        <div ng-hide="userState.status">
          <h4>Please log in to submit a post.</h4>
        </div> 
        <div ng-show="userState.status">
          <h4>If you want to submit a post, go to the posts page.</h4>
        </div> 
        <div ng-show="user.authData">
          <p>Hello, {{ authData.password.email }}</p>
          <button ng-click="Auth.$unauth()" class="btn btn-danger">Logout</button>
        </div>
        <div ng-hide="authData">
          <p>Welcome, please log in.</p>
          <a href="#/login">Login</a>
          <a href="#/register">Register</a>
        </div>
      </div>

  <!-- if logged in  -->
  <div>
    <h4>Submit a post:</h4>
    <form class="navbar-form navbar-center" role="search" ng-submit="submitPost()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="post.title">
      </div>
      <div class="form-group">
      <input type="text" class="form-control" placeholder="Link" ng-model="post.url">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
  </div><!-- /.navbar-collapse -->
     
    <h4>Posts so far:</h4>
    <ul class="postsList">
        <li ng-repeat="post in posts">
            <div class="post">
                <p class="title">{{post.title}}</p>
                <a class="url">({{ post.url | hostnameFromUrl }})</a>
                <p>Created at: {{ post.timestamp }</p>
                <p>
                <a href="#/posts/{{post.$id}}">Comments</a>
                <a ng-click="deletePost(post)" class="btn btn-danger pull-right">Delete post</a>
                </p>
                <hr>
            </div>
        </li>
    </ul>
</div>