<!-- the posts view -->

<div class="col-sm-8 col-sm-offset-2">
    <h4>Create a new post</h4>
    <form ng-submit="submitPost()">
      <p class="form-group"><input type="text" class="form-control" ng-model="post.title" /></p>
      <p class="form-group"><input type="text" class="form-control" ng-model="post.url" /></p>
      <p class="form-group"><input type="submit" class="btn btn-succes" value="Add Post" /></p>
    </form>

    <h4>Posts so far:</h4>
    <ul>
        <li ng-repeat="post in posts">
            <div class="post">
                <p class="title">{{post.title}}</p>
                <a class="url">{{post.url}}</a>
                <a ng-click="deletePost($index)" class="btn btn-danger pull-right">Delete post</a>
            </div>
        </li>
    </ul>
</div>